body {
    display: flex;
    min-height: 100vh;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 128px;
    height: 128px;
    border: solid rgb(92, 92, 92) 2px;
}

.etchGridPeice {
    padding: 0;
    margin: 0;
    width: 8px;
    height: 8px;
    transition-delay: 300ms;
    background-color: rgb(161, 161, 161);
}

.etchGridPeice:hover {
    background-color: black;
    transition: ease-in 1ms;
}