body {
    display: flex;
    min-height: 100vh;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 128px;
    height: 128px;
    border: solid rgb(92, 92, 92) 2px;
}

.etchGridPeice {
    padding: 0;
    margin: 0;
    width: 8px;
    height: 8px;
    background-color: rgb(161, 161, 161);
}

