input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.etchASketchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.etchASketchBody {
    padding: 40px;
    background-color: red;
    text-align: center;
}

.etchASketchBody p {
    margin-bottom: 10px;
    margin-top: -36px;
    font-size: 22px;
}

.etchASketchNobs {
    display: flex;
    justify-content: space-between;
}

.nobR,
.nobL {
    background-color: white;
    height: 35px;
    width: 35px;
    margin-top: 15px;
    border: dotted black;
    border-radius: 20px;
    margin-bottom: -45px;
}

.nobL {
    margin-left: -35px;
}

.nobR {
    margin-right: -35px;
}

.filler {
    flex: 1;
}

header {
    height: 60px;
    background: linear-gradient(170deg, grey, grey 70%, black 80%);
}

footer {
    height: 10px;
    background: linear-gradient(170deg, grey, grey 70%, black 80%);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 128px;
    height: 128px;
    border: solid rgb(92, 92, 92) 2px;
}

.etchGridPeice {
    padding: 0;
    margin: 0;
    width: 8px;
    height: 8px;
    background-color: rgb(161, 161, 161);
}

input, label {
    display: block;
}

.boxForOptions {
    text-align: center;
    margin: 15px;
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(75, 149, 245);
}

.boxForOptions h1 {
    font-size: 40px;
    margin: 0;
}

#options {
    width: 633px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    height: 120px;
    background-color: rgb(75, 149, 245);
}

#settingsBar {
    display: flex;
    gap: 10px;
}

#settingsBar .filler {
    flex: 1;
}

.colorselect {
    width: 177px;
    align-self: center;
}

.setup {
    font-size: 16px;
    text-align: center;
}